<div class="grid-container home-page-container">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 home-page-tile">
      <h4 class="header-title-text center-header">Welcome to Patron</h4>
      <p class="home-page-text">
        Patron is designed to help you remember your best 
        dining experiences and share those good times with 
        friends.
      </p>
    </div>
  </div>
</div>
