/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  min-height: 100vh; 
  margin: 0; 
  display: flex;
  flex-direction: column;
}

.center-form {
  padding-bottom: 3em;
}

.center-element {
  text-align: center;
}

.footer-nav {
  margin-top: auto;
  width: 100%;
  background-color: #0b4f6c;
  color: #ffffff;
  text-align: center;
}

.header-title-text {
  font-family: 'Lobster', cursive;
}

.header-show-page {
  font-family: 'Comfortaa', cursive;
}

.home-page-container {
  flex-grow: 1;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), 
    url("chris-liverani-oCsaxvGCehM-unsplash.jpg");
  background-size: cover;
  color: #ffffff;
  height: 100vh;
  width: 50vw
}

@media (max-width: 640px) {
  .home-page-container {
    width: 225px;
  }
}

.hide {
  display: none;
}

.home-page-text {
  width: 225px;
  text-align: center;
  margin: 0 auto;
}

.home-page-tile {
  margin: 3em 0;
  background-color: #db0007;
  background: linear-gradient(#db0007, #ef0107);
}

.loader {
  margin: auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #FF7A59;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.radius {
  border-radius: .5em;
}

.recommendation-image {
  margin: 1em auto;
  display: block;
}

.restaurant-cat-select {
  height: 10em;
}

.review-tile-head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-tile-restaurant {
  margin: .5em 0;
}

.show-page-margin {
  margin-top: 1rem;
}

.title-bar {
  background-color: #db0007;
}

.top-bar{
  background-color: #db0007;
}

.top-bar ul {
  background-color: #db0007;
}

.top-bar-text {
  color: #ffffff;
  font-family: 'Lobster', cursive;
}

.yelp-url-anchor {
  word-break: break-all;
}
