/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  min-height: 100vh; 
  margin: 0; 
  display: flex;
  flex-direction: column;
}

.center-form {
  padding-bottom: 3em;
}

.center-element {
  text-align: center;
}


.footer-nav {
  margin-top: auto;
  width: 100%;
  background-color: #db0007;
  color: #ffffff;
  text-align: center;
}

.header-title-text {
  font-family: 'Lobster', cursive;
}

.header-show-page {
  font-family: 'Comfortaa', cursive;
}

.home-page-container {
   flex-grow: 1;
   background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), 
     url("chris-liverani-oCsaxvGCehM-unsplash.jpg");
   background-size: cover;
   color: #ffffff;
}

.home-page-text {
  width: 20em;
}

.home-page-tile {
  margin: 3em 0;
  background-color: #db0007;
  background: linear-gradient(#db0007, #ef0107);
}

.radius {
  border-radius: .5em;
}

.title-bar {
  background-color: #db0007;
}

.top-bar{
  background-color: #db0007;
}

.top-bar ul {
  background-color: #db0007;
}

.top-bar-text {
  color: #ffffff;
  font-family: 'Lobster', cursive;
}

